:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #242424;
  --color-2:  rgba(255, 255, 255, 0.87);
  --color-3: rgb(188, 146, 222, 0.8);
  --color-4: rgb(167, 165, 168, 0.8);
  --button-radius: 8px;
  --transition-speed-1: 0.6s;
  --border-width: 1px;
  --border-width-thick: 4px;
  --icon-width-small: 2vw;
  --icon-height-small: 2svh; 
  --icon-width-med: 4vw;
  --icon-height-med: 4svh; 
  --icon-width-large: 8vw;
  --icon-height-large: 8svh; 
  --icon-width-x-large: 16vw;
  --icon-height-x-large: 16svh; 
  --navbar-height: 12svh;
  --large-button-padding: 1em;
  --large-button-padding-side: 2em;
  --med-button-padding: 0.5em;
  --med-button-padding-side: 1em;
  --body-padding: 1em;
  --gap: 2em;
  --gap-small: 0.5em;
  color: var(--color-2);
  background-color: var(--color-1);
  display: grid;
}

a {
  color: var(--color-3);
  text-decoration: inherit;
}

ul{
  display: grid;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: var(--gap-small);
}

body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  /* padding-left: var(--body-padding);
  padding-right: var(--body-padding); */
}

button {
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  cursor: pointer;
  transition: border-color var(--transition-speed-1);
  background-color: var(--color-1);
  color: inherit;
  transition: filter var(--transition-speed-1), transform var(--transition-speed-1);
}
button:hover {
  border-color: var(--color-3);
  filter: brightness(1.1);
  transform: scale(1.04);
}

a{
  color: var(--color-2);
  text-decoration: none;
}

.home-container{
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.home-navbar-container{
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  z-index: 3;
  gap: var(--gap);
  justify-content:space-between;
  align-items: center;
  padding: var(--large-button-padding);
}

.homenav-links-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: right;
  gap: var(--large-button-padding);
  font-weight: 700;
}
.homenav-links-list>li{
  transition: filter var(--transition-speed-1), 
    transform var(--transition-speed-1);
}
.homenav-links-list>li:hover{
  filter: brightness(1.3);
  transform: scale(1.1);
}

.socials-list{
  display: flex;
  flex-direction: column;
  transform: translateY(50%);
  gap: var(--gap-small);
}

.hero{
  display: flex;
  height: 16svh;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.hero-two{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10svh;
  font-size: x-large;
}

.call-to-action{
  display: flex;
  height: 25svh;
  width: 100vw;
  padding-top: 30%;
  text-align: right;
  justify-content: end;
  position: relative;
  right: 5%;
  font-size: large;
}

.banana-large{
  height: 70svh;
  display: grid;
  object-fit: contain;
  position: absolute;
  top: 30%;
  left: 10%;
}

.docs-container{
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100vw;
}

.selector-container{
  display: grid;
  grid-template-rows: auto auto;
  padding: var(--body-padding);
  padding-top: calc(var(--body-padding) * 2);
}

.app-container{
  display: grid;
  grid-template-rows: 5svh 95svh;
}

.join-alpha-ping{
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100svh - var(--navbar-height));
  background-color: var(--color-1);
}

.join-container{
  position: relative;
  display: grid;
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  justify-content: center;
  align-items: center;
  padding: var(--large-button-padding) var(--large-button-padding-side);
  grid-template-rows: repeat(4, auto);
  gap: var(--gap);
  height: 70svh;
  width: 50vw;
}

.join-header{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
}

.join-icon{
  display: grid;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  perspective-origin: bottom;
}

.join-body{
  display: grid;
  justify-content: center;
  align-items: center;
}

.join-logo{
  width: var(--icon-width-x-large);
  height: var(--icon-height-x-large);
  display: grid;
  object-fit: contain;
  filter: drop-shadow(0 0 20px var(--color-3));
  animation: spin 5s linear infinite;
}

.join-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 5em;
}

.join-button{
  display: grid;
  padding: var(--large-button-padding) var(--large-button-padding-side);
  font-size: x-large;
  font-weight: 900;
}

.join-channel-loading-container{
  display: grid;
  position: absolute;
  top: 50svh;
  left: 50vw;
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  justify-content: center;
  align-items: center;
  padding: var(--large-button-padding) var(--large-button-padding-side);
  grid-template-rows: repeat(4, auto);
  gap: var(--gap);
  height: 70svh;
  width: 50vw;
  transform: translateX(-50%) translateY(-70%);
  background-color: var(--color-1);
  transition: none;
}

.join-channel-loading{
  display: grid;
  justify-content: center;
  align-items: center;
  transition: none;
  font-size: x-large;
  font-weight: 800;
}

.loading-container{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  width: 50vw;
  height: 50svh;
}

.loading-container-text{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-banana-container{
  display: grid;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.loading-banana{
  display: grid;
  object-fit: contain;
  width: 70%;
  height: 70%;
  justify-content: center;
  align-items: center;
  transform: translateX(15%);
}

.nav-bar{
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.nav-brand{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: left;
  align-items: center;
}

.brand-header{
  font-size: xx-large;
  font-weight: 900;
}

.header-mid-word-break{
  font-size: small;
  font-weight: 300;
  font-style: italic;
}

.logo{
  display: grid;
  justify-content: center;
  align-items: center;
  height: var(--icon-height-large);
  width: var(--icon-width-large);
  object-fit: contain;
}

.search{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  position: relative;
}

.search-bar{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, auto);
  gap: var(--gap);
  position: relative;
}

.search-bar>input{
  width: 40vw;
  padding: var(--med-button-padding);
  color: var(--color-2);
  background-color: var(--color-1);
  border-color: var(--color-2);
  border-style: solid;
  border-radius: var(--button-radius);
}

.search-bar>input:focus,
.search-bar>input:active{
  border-color: var(--color-3);
  border-style: solid;
  border-radius: var(--button-radius);
  outline: none;
}

.search-channels-options{
  display: grid;
  position: absolute;
  top: 65%;
  left: -4%;
  z-index: 100;
  background-color: var(--color-1);
  width: 40vw;
  gap: var(--gap-small);
  justify-content: center;
  align-items: center;
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-2);
  padding: var(--med-button-padding);
  max-height: 10svh;
  overflow-y: scroll;
}

.search-channels-option{
  display: grid;
  align-items: center;
  justify-content: center;
  transition: filter var(--transition-speed-1), 
    transform var(--transition-speed-1);
  background-color: var(--color-1);
  padding: var(--med-button-padding);
  width: 38vw;
}
.search-channels-option:hover{
  filter: brightness(1.2);
  transform: scale(1.01);
  border-color: var(--color-3);
  border-width: var(--border-width);
  border-radius: var(--button-radius);
  border-style: solid;
}

.connect-container{
  display: grid;
  justify-content: right;
  align-items: center;
  padding-right: calc(var(--body-padding)*2);
}

.connect-button{
  padding: var(--large-button-padding) var(--large-button-padding-side);
  font-size: larger;
  transition: width var(--transition-speed-1);
}

.connected{
  font-size: medium;
}

.app-body{
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
  top: var(--navbar-height);
  height: calc(100svh - var(--navbar-height));
}

.error-page{
  display: grid;
  justify-content: right;
  align-items: bottom;
  height: 100svh;
  width: 100vw;
  max-width: 100vw;
  text-align: right;
  grid-template-rows: repeat(3, min-content);
  position: fixed;
  top: 54%;
  right: var(--body-padding);
}

.banana-container{
  position: fixed;
  top: 10svh;
  left: 10vw;
}

.error-banana{
  display: grid;
  object-fit: contain;
  height: 60svh;
}

.error-container{
  display: grid;
  grid-template-columns: auto min(60%);
  height: max(20%);
}

.error-return-link{
  border-bottom: var(--border-width-thick) solid var(--color-3);
  transition: filter var(--transition-speed-1),
    transform var(--transition-speed-1);
}
.error-return-link:hover{
  filter: brightness(1.1);
  transform: scale(1.01);
}

.channels{
  display: flex;
  flex-direction: column;
  height: calc(100svh - var(--navbar-height));
  gap: var(--gap);
  padding-left: var(--body-padding);
}

.channels-menu{
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.channels-list{
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  max-height: 100%;
  overflow-y: scroll;
}

.channels-title{
  font-weight: 900;
}

.channel{
  border-bottom: var(--border-width-thick) solid transparent;
  filter: brightness(0.6);
  transition: border-bottom var(--transition-speed-1),
    filter var(--transition-speed-1),
    transform var(--transition-speed-1);
  display: flex;
  flex-direction: row;
  max-height: 15%;
  justify-content: center;
  align-items: center;
}
.channel:hover{
  filter: brightness(1.1);
  transform: scale(1.01);
}
.channel-active{
  font-weight: 900;
  border-bottom: var(--border-width-thick) solid var(--color-3);
  filter: brightness(1);
}

.channel-name{
  flex: 1 1 40%;
}
.leave-channel{
  flex: 1 1 10%;
  transition: var(--transition-speed-1);
  height: 2.25em;
}
.leave-channel:hover{
  transform: scale(1.01);
}

.leave-channel-icon{
  display: grid;
  object-fit: contain;
  height: 50%;
  transform: translateY(50%);
  justify-content: center;
  align-items: center;
}

.channel-logo-image{
  display: grid;
  object-fit: contain;
  height: 2svh;
  transition: transform var(--transition-speed-1);
  position: relative;
  bottom: 0.5svh;
  flex: 1 1 50%;
  right: 0.3em;
}
.channel-logo-image-active{
  transform: scale(1.5);
}

.add-channel-greyout{
  display: grid;
  width: 100vw;
  height: calc(100svh - var(--navbar-height));
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  z-index: 2;
  opacity: 95%;
}

.add-channel{
  display: grid;
  align-items: center;
  justify-content: center;
  padding-top: var(--large-button-padding);
  padding-bottom: var(--large-button-padding);
}

.add-channel-button{
  font-weight: 900;
}

.add-channel-modal{
  display: grid;
  width: 50vw;
  height: 50svh;
  position: absolute;
  left: 50vw;
  top: 50svh;
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  background-color: var(--color-1);
  transform: translateX(-50%) translateY(-100%);
  justify-content: center;
  align-items: center;
  padding: var(--large-button-padding);
  z-index: 3;
  opacity: 100%;
  box-shadow: 0px 0px 10px var(--color-3);
}

.add-channel-title{
  display: grid;
  justify-content: center;
  align-items: center;
}

.add-channel-text{
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-channel-form{
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: var(--gap);
}

.form-line-one{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--gap);
}

.add-channel-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.add-channel-button{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--large-button-padding) var(--large-button-padding-side);
}

.channel-action-items{
  border: var(--border-width) solid transparent;
  border-radius: var(--button-radius);
  padding: var(--large-button-padding);
  filter: brightness(0.6);
  transition: border var(--transition-speed-1),
    filter var(--transition-speed-1),
    transform var(--transition-speed-1);
}
.channel-action-items:hover{
  filter: brightness(1.1);
  transform: scale(1.05);
}
.channel-action-active{
  font-weight: 900;
  border: var(--border-width) solid var(--color-3);
  filter: brightness(1);
}

.edit-profile-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  gap: var(--gap);
}

.profile-tabs{
  display: grid;
  grid-template-columns: repeat(3, 25%);
  gap: var(--large-button-padding-side);
}
.profile-tabs>li{
  border-width: var(--border-width);
  border-color: var(--color-3);
  border-radius: var(--button-radius);
  border-style: solid;
  padding: var(--large-button-padding);
  display: grid;
  justify-content: center;
  align-items: center;
}
.profile-tabs>li.active{
  background-color: var(--color-3);
  color: var(--color-2);
}

#profile{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items:center;
  gap: var(--gap);
}

.owner-banner,
.mod-banner{
  display: grid;
  justify-content: left;
  align-items: center;
  gap: var(--gap-small);
  width: 100%;
  padding-left: var(--body-padding);
}

.owner-banner{
  grid-template-columns: 90%;
}

.owner-banner-header,
.mod-banner-header{
  display: grid;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.owner-banner-button{
  display: grid;
  justify-content: center;
  align-items: center;
}

.mod-banner-row-one{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--body-padding);
}

.blacklisted-user-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: var(--body-padding);
  justify-content: space-evenly;
  align-items: center;
}

.mod-ban-list,
.manage-mods-list,
.blacklist-list-list{
  display: grid;
  overflow-y: auto; 
  max-height: 30%;
}
.mod-ban-list{
  max-height: 50svh;
}

.mod-banner-li,
.blacklist-list-item,
.manage-mods-list-item-container{
  border-radius: var(--button-radius);
  border-color: var(--color-2);
  border-width: var(--border-width);
  border-style: solid;
  padding: var(--large-button-padding);
  min-width: 64vw;
  gap: var(--body-padding);
  display: grid;
  align-items: center;
}

.manage-mods-list-item-container{
  display: flex;
  flex-direction: row;
}

.ban-container{
  border-radius: var(--button-radius);
  border-color: var(--color-3);
  border-width: var(--border-width);
  border-style: solid;
  padding: var(--large-button-padding);
  width: 96%;
}

.bans-list{
  display: grid;
  gap: var(--body-padding);
  height: 100%;
  overflow-y: auto;
}

.bans-list-item{
  display: grid;
  grid-template-columns: 10% 30% 50%;
  justify-content: center;
  align-items: center;
}

.mod-banner-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.owner-banner-form,
.mod-banner-form,
.unban-form,
.pardon-form,
.ban-mod-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-small);
  justify-content: center;
  align-items: center;
  background-color: var(--color-3);
  padding: var(--large-button-padding);
  border-radius: var(--button-radius);
}

.owner-banner-form>label,
.mod-banner-form>label{
  color: var(--color-1);
  font-weight: 700;
}

.owner-banner-form>input,
.mod-banner-form>input,
.unban-form>input,
.edit-profile-form-row-two>input,
.pardon-form>input,
.ban-mod-form>input{
  padding: var(--med-button-padding);
  color: var(--color-2);
  background-color: var(--color-1);
  border-color: var(--color-2);
  border-style: solid;
  border-radius: var(--button-radius);
}
.owner-banner-form>input:focus,
.owner-banner-form>input:active,
.mod-banner-form>input:focus,
.mod-banner-form>input:active,
.edit-profile-form-row-two>input:focus,
.edit-profile-form-row-two>input:active{
  border-color: var(--color-3);
  border-style: solid;
  border-radius: var(--button-radius);
  outline: none;
}



.edit-profile-image{
  display: grid;
  height: 2.5em;
  width: 2.5em;
  object-fit: contain;
}

.edit-porfile-button-icon{
  display: grid;
  height: 1em;
  width: 1em;
  object-fit: contain;
}

.edit-profile-modal{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(3, auto);
  height: 50svh;
  width: 50vw;
  position: fixed;
  background-color: var(--color-1);
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-3);
  top: 25svh;
  left: 25vw;
  z-index: 3;
  padding: var(--large-button-padding);
}

.edit-profile-header{
  display: grid;
  align-items: center;
  justify-content: center;
}

.current-username-and-pic,
.edit-profile-row-two{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.edit-username-container,
.edit-profile-pic-container{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: var(--large-button-padding);
}

.current-profile-pic,
.current-username{
  display: grid;
  align-items: center;
  justify-content: center;
}

.edit-profile-form{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  grid-template-rows: repeat(2, 50%);
}

.edit-profile-form-row-two{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 50%);
  gap: var(--gap);
}

.edit-profile-form-submit-button{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--med-button-padding);
}

.edit-profile-loading-container{
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: fixed;
  width: 50vw;
  height: 50svh;
  left: 25vw;
  top: 25svh;
}

.edit-button{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: var(--large-button-padding);
}
.edit-button-selected{
  background-color: var(--color-3);
  color: var(--color-2);
}

.error-message{
  display: grid;
  align-items: center;
  justify-content: center;
}

.messages{
  display: grid;
  grid-template-rows: 80% 20%;
  height: 100%;
  overflow: hidden;
}

.messages-feed{
  overflow-y: scroll;
  display: grid;
}

.message{
  display: grid;
  grid-template-columns: var(--icon-width-large) auto;
  align-items: center;
  gap: var(--gap);
  max-height: 80svh;
  transition: filter 0.6s;
  background-color: var(--color-1);
}
.message:hover{
  filter: brightness(1.2);
}

.message-content{
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.message-content-row-one{
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: left;
  align-items: center;
  gap: var(--gap);
}

.message-hover-options{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  filter: brightness(1);
}

.message-hover-options>li{
  transition: filter 1s, transform 1s, border-style 1s;
  border-radius: var(--button-radius);
  border-style: none;
  border-color: var(--color-3);
  border-width: var(--border-width);
  padding: var(--med-button-padding);
  filter: brightness(1);
}
.message-hover-options>li:hover{
  filter: brightness(1.1);
  transform: scale(1.1);
  border-style: solid;
  filter: brightness(1);
}

.emoji-reaction{
  display: grid;
  position: absolute;
  top: 50%;
  right: -50%;
  z-index: 2;
}

.text-reply{
  display: grid;
  object-fit: contain;
  height: 1em;
  width: 1em;
}

.message-content-reply-container{
  display: grid;
  align-items: center;
  justify-content: left;
  grid-template-columns: repeat(3, auto);
  gap: var(--gap-small);
}

.reply-preview-icon{
  display: grid;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  height: 1em;
  width: 1em;
  filter: brightness(0.6);
}

.reply-author{
  font-size: small;
  filter: brightness(0.6);
}

.message-content-reply{
  font-size: small;
  filter: brightness(0.6);
}

.message-content-row-two{
  display: grid;
  overflow-y: scroll;
  height: auto;
}

.message-content-row-three{
  display: flex;
  justify-content: left;
}

.reaction-item{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: calc(0.5 * var(--gap-small));
}

.hover-reactions-accounts{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30%;
  bottom: 25%;
  border-radius: var(--button-radius);
  border-color: var(--color-2);
  border-style: solid;
  border-width: var(--border-width);
  background-color: var(--color-1);
  padding: var(--med-button-padding);
}

.message-poster-address>h3{
  color: var(--color-3);
}

.post-timestamp-token-amount{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  grid-template-columns: repeat(2, auto);
  font-size: small;
}

.current-token-amount{
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  grid-template-columns: repeat(2, auto);
  font-size: small;
}

.message-timestamp{
  font-size: small;
}

.message-submit-form{
  display: grid;
  justify-content: left;
  align-items: center;
  grid-template-columns: 10% 65% 10%;
  gap: var(--gap);
  width: 100%;
}

.attachments-container{
  display: grid;
  align-items: center;
  justify-content: right;
  position: relative;
  left: 8%;
}

.attachments-options-container{
  width: 24vw;
  height: 60svh;
  z-index: 2;
  padding: var(--large-button-padding);
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-2);
  position: absolute;
  bottom: 8svh;
  left: 7vw;
  display: grid;
  background-color: var(--color-1);
  opacity: 0;
  transition: opacity 0.6s;
  visibility: hidden;
  grid-template-rows: 90% 10%;
  justify-content: center;
  align-items: center;
}
.attachments-options-container.active{
  opacity: 100%;
  visibility: visible;
}

.options-list{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.pictures,
.emojis,
.dune-analytics{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.attach-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.attach-button{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--med-button-padding) var(--med-button-padding-side);
  font-size: x-large;
  font-weight: 800;
}

.attach-button.disabled{
  border-color: var(--color-4);
}

.emoji-select{
  display: grid;
  justify-content: center;
  align-items: center;
  padding: var(--med-button-padding);
  width: 100%;
}

.picture-icon,
.dune-icon{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  object-fit: contain;
  padding: var(--med-button-padding);
}

.image-preview{
  display: grid;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  width: 96%;
  height: 96%;
}

.message-image{
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 50svh;
  max-width: 90%;
  object-fit: contain;
}

.message-iframe{
  display: grid;
  justify-content: center;
  align-items: center;
  max-height: 50svh;
  width: 90%;
}

.message-form-input{
  display: grid;
  background-color: var(--color-5);
  padding: var(--large-button-padding);
  color: var(--color-2);
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-2);
  width: 90%;
  outline: none;
  font-size: large;
}

.message-form-input:focus,
.message-form-input:active,
textarea:focus, 
textarea:active{
  display: grid;
  background-color: var(--color-5);
  padding: var(--large-button-padding);
  color: var(--color-2);
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--color-3);
  width: 90%;
  outline: none;
  font-size: large;
}

.banana-send-icon{
  display: grid;
  object-fit: contain;
  width: var(--icon-width-small);
  height: var(--icon-height-small);
  padding: var(--body-padding);
}

.monkey-icon{
  display: grid;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  width: var(--icon-width-med);
  height: var(--icon-height-med);
  padding-left: var(--large-button-padding);
}

.follow-unfollow-container{
  display: grid;
  justify-content: right;
  align-items: center;
  position: relative;
  bottom: 0.7em;
  transition: filter var(--transition-speed-1), transform var(--transition-speed-1);
}
.follow-unfollow-container:hover{
  filter: brightness(1.1);
  transform: scale(1.15);
}

.follow-user-icon{
  display: grid;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  width: var(--icon-width-small);
  height: var(--icon-height-small);
}

@keyframes spin {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}