:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #242424;
  --color-2:  rgba(255, 255, 255, 0.87);
  --color-3: rgb(188, 146, 222, 0.8);
  --color-4: rgb(167, 165, 168, 0.8);
  --button-radius: 8px;
  --transition-speed-1: 0.6s;
  --border-width: 1px;
  --border-width-thick: 4px;
  --icon-width-small: 2vw;
  --icon-height-small: 2svh; 
  --icon-width-med: 4vw;
  --icon-height-med: 4svh; 
  --icon-width-large: 8vw;
  --icon-height-large: 8svh; 
  --icon-width-x-large: 16vw;
  --icon-height-x-large: 16svh; 
  --navbar-height: 12svh;
  --large-button-padding: 1em;
  --large-button-padding-side: 2em;
  --body-padding: 1em;
  --gap: 2em;
  --gap-small: 0.5em;
  color: var(--color-2);
  background-color: var(--color-1);
  display: grid;
}

a {
  color: var(--color-3);
  text-decoration: inherit;
}
a:hover {
  
}

ul{
  display: grid;
  list-style: none;
  margin: 0px;
  padding: 0px;
  gap: var(--gap-small);
}

body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
}

button {
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  cursor: pointer;
  transition: border-color var(--transition-speed-1);
  background-color: var(--color-1);
  color: inherit;
  transition: filter var(--transition-speed-1), transform var(--transition-speed-1);
}
button:hover {
  border-color: var(--color-3);
  filter: brightness(1.1);
  transform: scale(1.04);
}

a{
  color: var(--color-2);
  text-decoration: none;
}

.app-container{
  display: grid;
  grid-template-rows: 5svh 95svh;
}

.join-alpha-ping{
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100svh - var(--navbar-height));
  background-color: var(--color-1);
}

.join-container{
  position: relative;
  display: grid;
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  justify-content: center;
  align-items: center;
  padding: var(--large-button-padding) var(--large-button-padding-side);
  grid-template-rows: repeat(4, auto);
  gap: var(--gap);
  height: 70svh;
  width: 50vw;
}

.join-header{
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 900;
}

.join-icon{
  display: grid;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  perspective-origin: bottom;
}

.join-body{
  display: grid;
  justify-content: center;
  align-items: center;
}

.join-logo{
  width: var(--icon-width-x-large);
  height: var(--icon-height-x-large);
  display: grid;
  object-fit: contain;
  filter: drop-shadow(0 0 20px var(--color-3));
  animation: spin 5s linear infinite;
}

.join-button-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

.join-button{
  display: grid;
  padding: var(--large-button-padding) var(--large-button-padding-side);
  font-size: x-large;
  font-weight: 900;
}

.nav-bar{
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  width: 100vw;
}

.nav-brand{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: left;
  align-items: center;
}

.brand-header{
  font-size: xx-large;
  font-weight: 900;
}

.header-mid-word-break{
  font-size: small;
  font-weight: 300;
  font-style: italic;
}

.logo{
  display: grid;
  justify-content: center;
  align-items: center;
  height: var(--icon-height-large);
  width: var(--icon-width-large);
  object-fit: contain;
}

.connect-container{
  display: grid;
  justify-content: right;
  align-items: center;
  padding-right: calc(var(--body-padding)*2);
}

.connect-button{
  padding: var(--large-button-padding) var(--large-button-padding-side);
  font-size: larger;
  transition: width var(--transition-speed-1);
}

.connected{
  font-size: medium;
}

.app-body{
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
  top: var(--navbar-height);
  height: calc(100svh - var(--navbar-height));
}

.error-page{
  display: grid;
  justify-content: right;
  align-items: bottom;
  height: 100svh;
  width: 100vw;
  max-width: 100vw;
  text-align: right;
  grid-template-rows: repeat(3, min-content);
  position: fixed;
  top: 54%;
  right: var(--body-padding);
}

.banana-container{
  position: fixed;
  top: 10svh;
  left: 10vw;
}

.error-banana{
  display: grid;
  object-fit: contain;
  height: 60svh;
}

.error-container{
  display: grid;
  grid-template-columns: auto min(60%);
  height: max(20%);
}

.error-return-link{
  border-bottom: var(--border-width-thick) solid var(--color-3);
  transition: filter var(--transition-speed-1),
    transform var(--transition-speed-1);
}
.error-return-link:hover{
  filter: brightness(1.1);
  transform: scale(1.01);
}

.channels-title{
  font-weight: 900;
}

.channels-list{
}

.channel{
  border-bottom: var(--border-width-thick) solid transparent;
  filter: brightness(0.6);
  transition: border-bottom var(--transition-speed-1),
    filter var(--transition-speed-1),
    transform var(--transition-speed-1);
  display: grid;
  grid-template-columns: 80% 20%;
}
.channel:hover{
  filter: brightness(1.1);
  transform: scale(1.05);
}
.channel-active{
  font-weight: 900;
  border-bottom: var(--border-width-thick) solid var(--color-3);
  filter: brightness(1);
}

.channel-logo-image{
  display: grid;
  object-fit: contain;
  height: 2svh;
  transition: transform var(--transition-speed-1);
  position: relative;
  bottom: 0.5svh;
}
.channel-logo-image-active{
  transform: scale(1.5);
}


.channel-action-items{
  border: var(--border-width) solid transparent;
  border-radius: var(--button-radius);
  padding: var(--large-button-padding);
  filter: brightness(0.6);
  transition: border var(--transition-speed-1),
    filter var(--transition-speed-1),
    transform var(--transition-speed-1);
}
.channel-action-items:hover{
  filter: brightness(1.1);
  transform: scale(1.05);
}
.channel-action-active{
  font-weight: 900;
  border: var(--border-width) solid var(--color-3);
  filter: brightness(1);
}

.messages{
  display: grid;
  grid-template-rows: 88% 12%;
  height: 100%;
  overflow: hidden;
}

.messages-feed{
  overflow-y: scroll;
  display: grid;
}

.message{
  display: grid;
  grid-template-columns: var(--icon-width-large) auto;
  align-items: center;
  gap: min(var(--gap));
}

.message-content{
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.message-submit-form{
  display: grid;
  justify-content: left;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: min(var(--gap));
}

.banana-send-icon{
  display: grid;
  object-fit: contain;
  width: var(--icon-width-small);
  height: var(--icon-height-small);
}

.monkey-icon{
  display: grid;
  object-fit: contain;
  width: var(--icon-width-med);
  height: var(--icon-height-med);
}


@keyframes spin {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}