:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #242424;
  --color-2:  rgba(255, 255, 255, 0.87);
  --color-3: rgb(188, 146, 222, 0.8);
  --color-4: rgb(167, 165, 168, 0.8);
  --button-radius: 8px;
  --transition-speed-1: 0.6s;
  --border-width: 1px;
  --icon-width-small: 2vh;
  --icon-height-small: 2svh; 
  --icon-width-med: 4vh;
  --icon-height-med: 4svh; 
  --icon-width-large: 8vh;
  --icon-height-large: 8svh; 
  --navbar-height: 12svh;
  --large-button-padding: 1em;
  --large-button-padding-side: 2em;
  --body-padding: 1em;
  color: var(--color-2);
  background-color: var(--color-1);
  display: grid;
}

a {
  color: var(--color-3);
  text-decoration: inherit;
}
a:hover {
  
}

body {
  margin: 0;
  display: grid;
  min-width: 320px;
  min-height: 100vh;
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
}

button {
  border-radius: var(--button-radius);
  border: var(--border-width) solid var(--color-3);
  cursor: pointer;
  transition: border-color var(--transition-speed-1);
  background-color: var(--color-1);
  color: inherit;
  transition: filter var(--transition-speed-1), transform var(--transition-speed-1);
}
button:hover {
  border-color: var(--color-3);
  filter: brightness(1.1);
  transform: scale(1.04);
}

.app-container{
  display: grid;
  grid-template-rows: 5svh 95svh;
}

.nav-bar{
  height: var(--navbar-height);
  display: grid;
  grid-template-columns: 50% 50%;
  position: fixed;
  width: 100vw;
}

.nav-brand{
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: left;
  align-items: center;
}

.brand-header{
  font-size: xx-large;
  font-weight: 900;
}

.header-mid-word-break{
  font-size: small;
  font-weight: 300;
  font-style: italic;
}

.logo{
  display: grid;
  justify-content: center;
  align-items: center;
  height: var(--icon-height-large);
  width: var(--icon-width-large);
  object-fit: contain;
}

.connect-container{
  display: grid;
  justify-content: right;
  align-items: center;
  padding-right: calc(var(--body-padding)*2);
}

.connect-button{
  padding: var(--large-button-padding) var(--large-button-padding-side);
  font-size: larger;
  transition: width var(--transition-speed-1);
}

.connected{
  font-size: medium;
}

.app-body{
  display: grid;
  grid-template-columns: 20% 80%;
  position: relative;
  top: var(--navbar-height);
  height: calc(100svh - var(--navbar-height));
}

.messages{
  display: grid;
  grid-template-rows: 88% 12%;
  height: 100%;
  overflow: hidden;
}

.messages-feed{
  overflow-y: scroll;
  display: grid;
}

.message-submit-form{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: min(2em);
}

.banana-send-icon{
  display: grid;
  object-fit: contain;
  width: var(--icon-width-small);
  height: var(--icon-height-small);
}

.monkey-icon{
  display: grid;
  object-fit: contain;
  width: var(--icon-width-med);
  height: var(--icon-height-med);
}
